[Desktop Entry]
Type=Application
Name=Gesso Setup
Icon=preferences-desktop-theme
Exec=gesso setup
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=true
